/* GENERAL */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 600;
}

/* UTILITIES */
.container{
    width:1160px;
    margin:0 auto;
}

/* HEADER */
header{
    margin-bottom: 40px;
}
header .brand .logo{
    width: 165px;
    margin-bottom: 40px;
}

/* MAIN-MENU */
.main-menu > li{
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}
.main-menu > li:last-child{
    margin-right: 0;
}
.main-menu li a{
    text-decoration: none;
    color: #858585;
}

/* HERO SECT. */
.hero{
    height: 500px;
    margin-bottom: 40px;
    background-image: url("../img/banner.jpg");
    background-position: center;
    border-radius: 10px;
    color:white;
}
.veil{
    height:100%;
    padding: 320px 555px 65px 50px;
    background-color: rgba(0,0,0,.2);
    border-radius: 10px;
}
.hero h2{
    font-size: 28px;
    font-weight: 500;
}